@model SigninViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<main class="form-signin w-100 m-auto">
    <form method="post" asp-antiforgery="true" onsubmit="ShowLoading('signinButton')">
        <img class="mb-4" src="~/img/clock.svg" alt="" width="120" height="120">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>
        <br />
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingStudentNo" maxlength="10" placeholder="Student Number" asp-for="StudentId" required>
            <label for="floatingStudentNo">Student Number</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <br />
        <p class="text-danger">
            @ViewBag.StudentError
        </p>
        <br />
        <!-- 
            bootstrap styles used throughout program
            https://getbootstrap.com/docs/5.0/getting-started/introduction/
            Accessed 15 December 2022
        -->
        <!-- mb-4 for below margin -->
        <button class="w-100 btn btn-lg button-primary button-grow mb-4" type="submit" id="signinButton" asp-controller="Home" asp-action="Login">Sign in</button>
        <button class="w-100 btn btn-lg button-secondary button-grow" type="submit" formnovalidate asp-controller="Home" asp-action="Register">Register</button>
    </form>
</main>
